// Person List
.person-list {
  background-color: $cl-white-1;
  .person-list-header {
    justify-content: space-between;
    align-items: center;
    h2 {
      margin: 0;
    }
  }
  .table-person {
    table {
      overflow: hidden;
      display: table;
      border-top-left-radius: 1.25rem;
      border-top-right-radius: 1.25rem;
      background-color: white;
      box-shadow: 0 12px 23px 0 rgba(62, 73, 84, 0.2);
    }
  }

  .sort-and-filter {
    .custom-select {
      border-radius: 60px;
      border-width: 1px;
      min-height: 40px;
      background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
      &:focus {
        box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
      }
    }
  }
}

// Person Input Form
.person-input-form {
  .input-field {
    width: 100%;
    padding-bottom: 20px;
    label {
      font-weight: bold;
      color: $cl-black-1;
      margin-bottom: 10px;
      i {
        margin-right: 10px;
      }
    }
    input {
      width: 100%;
      color: $cl-grey-4;
      background-color: transparent;
      border: 0;
      border-bottom: solid 3px $cl-primary-opacity;
      padding: 1px 2px;
      transition: all 0.4s ease;
      &:focus + span {
        &::after {
          width: 100%;
        }
      }
    }
    span {
      position: relative;
      display: block;
      &::after {
        content: '';
        background-color: $cl-primary;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        width: 0%;
        transition: all 0.4s ease;
      }
    }
    .error-announce {
      color: red;
      font-size: 0.9rem;
      margin: 5px 0 5px 0;
      display: none;
    }
  }
  .select-field {
    @extend .input-field;
    select {
      @extend input;
    }
  }
  .student-type,
  .employee-type,
  .customer-type {
    display: none;
  }
}

#tbdList {
  button {
    margin: auto;
  }
}
#confirmation {
  .modal-content {
    border-radius: 1.5rem;
  }
}

//Responsive
.person-list {
  @include responsive(lg) {
    h2 {
      font-size: 1.75rem;
    }
  }
  @include responsive(md) {
    h2 {
      font-size: 1.5rem;
    }
    #btnAdd {
      font-size: 15px;
    }
    .custom-select {
      font-size: 12.5px;
    }
  }
  @include responsive(sm) {
    #btnAdd {
      font-size: 14px;
    }
  }

  @media screen and (max-width: 575.98px) {
    .modal-dialog {
      max-width: 400px;
      margin: 1.5rem auto;
    }
  }

  @media screen and (max-width: 500px) {
    .modal-dialog {
      max-width: 350px;
      font-size: 0.9rem;
      .modal-title {
        font-size: 1.4rem;
      }
      .modal-footer button {
        font-size: 0.9rem;
      }
    }
  }

  @media screen and (max-width: 420px) {
    input {
      font-size: 9.5px;
    }

    .custom-select {
      font-size: 9.5px;
    }

    .modal-dialog {
      max-width: 300px;
      margin: 1rem auto;
      .modal-title {
        font-size: 1.2rem;
      }
    }
  }

  @media screen and (max-width: 350px) {
    .col-6 {
      display: none;
    }

    .col-6 {
      text-align: revert !important;
    }

    .modal-dialog {
      max-width: 270px;
      font-size: 0.8rem;
      .modal-title {
        font-size: 1.1rem;
      }
      .modal-footer button {
        font-size: 0.8rem;
      }
    }
  }

  @media screen and (max-width: 322px) {
    h2 {
      font-size: 1rem;
    }

    .custom-select {
      font-size: 9.5px;
    }
  }
}
